<div id="<%= dom_id performance %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Exercise:</strong>
    <%= performance.exercise %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= performance.date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this performance", performance, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this performance', edit_performance_path(performance), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
